{% extends "layout_a.html" %}

{% block body %}
<body class="text-center">
  <div class="container">
  <form action="{{url_for('signup')}}" method=post class="form-signin">

    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type=text class="form-control" placeholder="Username" required="" autofocus="" name='username'>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name='password'>
      <button class="btn btn-lg btn-block" type="submit" style="background-color: #8858AA; color: white;">Sign up</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
  </div>
</body>

{% endblock %}
